{% extends 'base.html' %}
{% block content %}
<h1>Garoa Push</h1>
<p>
    Quer ser avisando quando o Garoa for aberto? Cadastre-se para receber notificações no seu smartphone. Basta ter o <a href="https://www.pushbullet.com/">Pushbullet</a> instalado.
</p>
<p>
<a href="https://www.pushbullet.com/authorize?client_id={{ client_id }}&redirect_uri={{ redirect_uri }}&response_type=code&scope=everything">Cadastrar</a>
</p>
<p>
    <a href="https://www.pushbullet.com/edit-grants">Remover</a>
</p>
{% endblock content %}
