{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
        <title>Garoa Push</title>
    </head>
    <body>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {%endfor%}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
